

button {
    width: 100px;
    justify-self: center;
    align-self: center;
}

#gif {
    align-self: center;
}
#intro {
    align-self: center;
    font-size: 20pt;
}

#points {
    align-self: center;
}
#score {
    align-self: center;
}